@import "tailwindcss";

.pointer {
  cursor: pointer;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

.dotted-progress .CircularProgressbar-path {
  stroke-dasharray: 4, 4;
}